.categories {
  width: fit-content;
  margin: 50px auto;
  color: #FFF;
  display: flex;
  gap: 8px;
}

.categories span {
  padding: 10px 26px;
  border: 1px solid #444444;
  border-radius: 12px;
  cursor: pointer;
}

.categories span:hover {
  background-color: #444444;
  filter: brightness(1.1);
}

.categories span.selected {
  background-color: #444444;
}